{% extends 'base.html' %}


{% block content %}
<main class="container">
<p class="mt-3 display-3 text-center">Detalle tarea</p>

<!-- {{task.id}}
{{task.user}}
{{task.title}}
{{task.description}} -->

<section class="row">
   <div class="col-md-4 offset-md-4">
    <form action="" method="POST" class="text-center">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Editar" class="btn btn-info">
    </form>
    
    <div class="d-flex-column text-center mt-2">
          
        <form action="{% url 'CompletedTask' task.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Completar" class="btn btn-success mt-2">
        </form>
    
    
        <form action="{% url 'DeleteTask' task.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Eliminar" class="btn btn-danger mt-2">
        </form>
    
    <input type="button" class="btn btn-warning mt-2" value="Volver">
    </div>
   </div>
</section>

</main>
{% endblock %}
